<head>
  <meta charset="UTF-8">
 <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <title></title>
</head>



<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Toyota</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">Innova Crysta</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Description</a>

        </div>
        <p class="leading-relaxed mb-4">Toyota Innova Crysta - Diesel</p>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Color</span>
          <span class="ml-auto text-gray-900">WHITE</span>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Person Delivery</span>
          <span class="ml-auto text-gray-900">2500 Per Day</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Self Obtain</span>
          <span class="ml-auto text-gray-900">2000 Per Day</span>
        </div>

        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
          <span class="text-gray-500">Documents need to sumbit</span>
          <span class="ml-auto text-gray-900">Adhaar Card, Driving Licence</span>
        </div>

        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"></span>
        <a href="{% url 'bookform' %}">  <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Book</button></a>
          
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://media.mahindrafirstchoice.com/live_web_images/usedcarsimg/mfc/242/466919/cover_image-20210805151846.jpg">
    </div>
  </div>
</section>